<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
	<div class="container">
		<a class="navbar-brand" href="/"><i class="fas fa-shopping-basket"></i> Protótipo de loja</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<a class="nav-link <%-(_page==='home')&&'active'%>" href="/">
						<i class="fas fa-home"></i> Início
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link <%-(_page==='users')&&'active'%>" href="/users">
						<i class="fas fa-users"></i> Usuários
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link <%-(_page==='cart')&&'active'%>" href="/cart">
						<i class="fas fa-shopping-cart"></i> Carrinho
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link <%-(_page==='history')&&'active'%>" href="/history">
						<i class="fas fa-history"></i> Histórico de compras
					</a>
				</li>

				<% if (authUser) { %>
					<% if (authUser.admin) { %>
						<li class="nav-item">
							<a class="nav-link <%-(_page==='admin/products')&&'active'%>" href="/products">
								<i class="fas fa-shopping-bag"></i> Produtos
							</a>
						</li>

						<li class="nav-item">
							<a class="nav-link <%-(_page==='admin/requests')&&'active'%>" href="/requests">
								<i class="fas fa-bullhorn"></i> Pedidos
							</a>
						</li>

						<li class="nav-item">
							<a class="nav-link <%-(_page==='admin/admins')&&'active'%>" href="/admins">
								<i class="fas fa-user-shield"></i> Administradores
							</a>
						</li>
					<% } %>

				<li class="nav-item">
					<a class="nav-link" href="/logout">
						<i class="fas fa-sign-out-alt"></i> Sair
					</a>
				</li>

				<% } else { %>
					<li class="nav-item">
						<a class="nav-link <%-(_page==='login')&&'active'%>" href="/login">
							<i class="fas fa-user-shield"></i> Painel do administrador
						</a>
					</li>
				<% } %>
			</ul>
		</div>
	</div>
</nav>