<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
	<div class="container-fluid justify-content-start">
		<button class="open-sidebar btn me-2 p-0 px-1 d-lg-none" type="button">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="/"><i class="fas fa-shopping-basket"></i> Modelo de loja</a>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item" title="Início">
					<a class="nav-link <%-(_page==='home')&&'active'%>" href="/">
						<i class="fas fa-home"></i> Início
					</a>
				</li>

				<li class="nav-item" title="Usuários">
					<a class="nav-link <%-(_page==='clients')&&'active'%>" href="/clients">
						<i class="fas fa-users"></i> Usuários
					</a>
				</li>

				<li class="nav-item" title="Carrinho">
					<a class="nav-link <%-(_page==='buy')&&'active'%>" href="/cart">
						<i class="fas fa-shopping-cart"></i> Carrinho
					</a>
				</li>

				<li class="nav-item" title="Compras">
					<a class="nav-link <%-(_page==='my-requests')&&'active'%>" href="/requests/my">
						<i class="fas fa-history"></i> Compras
					</a>
				</li>

				<% if (authUser) { %>
					<% if (authUser.admin) { %>
						<hr class="bg-light my-1">

						<li class="nav-item" title="Produtos">
							<a class="nav-link <%-(_page==='products')&&'active'%>" href="/products">
								<i class="fas fa-shopping-bag"></i> Produtos
							</a>
						</li>

						<li class="nav-item" title="Pedidos">
							<a class="nav-link <%-(_page==='requests')&&'active'%>" href="/requests">
								<i class="fas fa-bullhorn"></i> Pedidos
							</a>
						</li>

						<li class="nav-item dropdown dropdown-dark">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								<i class="fas fa-plus"></i> Mais
							</a>
							<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
								<li title="Destaques">
									<a class="dropdown-item <%-(_page==='highlights')&&'active'%>" href="/highlights">
										<i class="fas fa-certificate"></i> Destaques
									</a>
								</li>
		
								<li title="Anúncios">
									<a class="dropdown-item <%-(_page==='ads')&&'active'%>" href="/ads">
										<i class="fas fa-bullhorn"></i> Anúncios
									</a>
								</li>
		
								<li title="Administradores">
									<a class="dropdown-item <%-(_page==='admins')&&'active'%>" href="/admins">
										<i class="fas fa-user-shield"></i> Admins
									</a>
								</li>
								
								<li title="Imagens">
									<a class="dropdown-item <%-(_page==='images')&&'active'%>" href="/images">
										<i class="fas fa-image"></i> Imagens
									</a>
								</li>
							</ul>
						</li>

					<% } %>

				<li class="nav-item" title="Sair">
					<a class="nav-link" href="/logout">
						<i class="fas fa-sign-out-alt"></i> Sair
					</a>
				</li>

				<% } else { %>
					<li class="nav-item" title="Painel do administrador">
						<a class="nav-link <%-(_page==='login')&&'active'%>" href="/login">
							<i class="fas fa-user-shield"></i> Painel do administrador
						</a>
					</li>
				<% } %>
			</ul>
		</div>
	</div>
</nav>