<nav class="main-header">
	<div class="container">
		<a class="brand" href="/"><i class="fas fa-shopping-basket"></i> Modelo de loja</a>
		<button class="toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav">
			<span></span>
		</button>
		<div class="nav" id="navbarNav">
			<ul>
				<li title="Início">
					<a class="<%-(_page==='home')&&'active'%>" href="/">
						<i class="fas fa-home"></i> Início
					</a>
				</li>

				<li title="Usuários">
					<a class="<%-(_page==='users')&&'active'%>" href="/users">
						<i class="fas fa-users"></i> Usuários
					</a>
				</li>

				<li title="Carrinho">
					<a class="<%-(_page==='buy')&&'active'%>" href="/cart">
						<i class="fas fa-shopping-cart"></i> Carrinho
					</a>
				</li>

				<li title="Compras">
					<a class="<%-(_page==='history')&&'active'%>" href="/history">
						<i class="fas fa-history"></i> Compras
					</a>
				</li>

				<% if (authUser) { %>
					<% if (authUser.admin) { %>
						<hr class="bg-light my-1">

						<li title="Produtos">
							<a class="<%-(_page==='admin/products')&&'active'%>" href="/products">
								<i class="fas fa-shopping-bag"></i> Produtos
							</a>
						</li>

						<li title="Pedidos">
							<a class="<%-(_page==='admin/requests')&&'active'%>" href="/requests">
								<i class="fas fa-bullhorn"></i> Pedidos
							</a>
						</li>

						<li title="Destaques">
							<a class="<%-(_page==='admin/highlights')&&'active'%>" href="/highlights">
								<i class="fas fa-certificate"></i> Destaques
							</a>
						</li>

						<li title="Anúncios">
							<a class="<%-(_page==='admin/ads')&&'active'%>" href="/ads">
								<i class="fas fa-ad"></i> Anúncios
							</a>
						</li>

						<li title="Administradores">
							<a class="<%-(_page==='admin/admins')&&'active'%>" href="/admins">
								<i class="fas fa-user-shield"></i> Admins
							</a>
						</li>
						
						<li title="Imagens">
							<a class="<%-(_page==='admin/images')&&'active'%>" href="/images">
								<i class="fas fa-image"></i> Imagens
							</a>
						</li>
					<% } %>

				<li title="Sair">
					<a class="nav-link" href="/logout">
						<i class="fas fa-sign-out-alt"></i> Sair
					</a>
				</li>

				<% } else { %>
					<li title="Painel do administrador">
						<a class="<%-(_page==='login')&&'active'%>" href="/login">
							<i class="fas fa-user-shield"></i> Painel do administrador
						</a>
					</li>
				<% } %>
			</ul>
		</div>
	</div>
</nav>