<%
product.priceStr = product.price.toFixed(2).toString().replace('.', ',')
product.description = product.description.replace(/\n/g, '<br>')
%>

<div class="col col-12 col-md-4 col-lg-3 mt-3">
	<div class="card">
		<% if (product.image) { %>
			<a href="<%= '/product/' + product.id %>">
				<img src="<%= product.image %>" class="card-img-top">
			</a>
		<% } %>

		<div class="card-body">
			<h5 class="card-title"><%= product.name %></h5>
			<p class="card-text"><%- product.description %></p>
		</div>

		<ul class="list-group list-group-flush">
			<a href="<%= `/product/${product.id}` %>" class="list-group-item list-group-item-action list-group-item-success">
				<i class="fas fa-info-circle"></i> Ver detalhes
			</a>

			<% if (product.stock) { %>
				<a href="/buy/<%= product.id %>" class="list-group-item list-group-item-action list-group-item-warning">
					<b><i class="fas fa-dollar-sign"></i> Comprar</b>
				</a>
				<button data-product="<%= product.id %>" class="list-group-item list-group-item-action list-group-item-primary addToCart <%= cart.includes(product.id) ? 'hidden' : '' %>">
					<i class="fas fa-cart-plus"></i> Carrinho
				</button>
				<button data-product="<%= product.id %>" class="list-group-item list-group-item-action list-group-item-danger removeFromCart <%= !cart.includes(product.id) ? 'hidden' : '' %>">
					<i class="fas fa-cart-arrow-down"></i> Carrinho
				</button>
			<% } %>
		</ul>

		<div class="card-footer text-muted">
			<b class="fs-5">R$<%= product.priceStr %></b>
			<% if (product.stock) { %>
				<%= (product.stock >= 0) ? `(${product.stock} em estoque)` : '(disponível)' %>
			<% } else { %>
				<span class="text-danger">(esgotado)</span>
			<% } %>
		</div>
	</div>
</div>