<%
const env = locals.env || 'show'
product.priceStr = product.price?.toFixed(2).toString().replace('.', ',')
product.oldPriceStr = product.oldPrice?.toFixed(2).toString().replace('.', ',')
if (product.description.length > 50) product.description = product.description.substr(0, 50) + '…'
product.description = product.description.replace(/\n/g, '<br>')
const _buyH = env !== 'buy' ? 'h-100' : ''
const _buyCol = env !== 'buy' ? 'col-6' : 'col-12 mb-3'
const _stkQtd = (product.stock >= 0) ? `(${product.stock} unid. dispon.)` : '(disponível)'
const _stkMin = product.stock === 0 ? 0 : 1
const _stkMax = product.stock === -1 ? '' : `max="${product.stock}"`
const _unDis = product.stock === 0 ? 'disabled' : ''
const _calcPrc = `'R$ ' + ((products.p${product.id}.qtd*${product.price}||false).toFixed(2).toString().replace('.',',')||'- (qtd. inválida)')`
const _pInit = `products.p${product.id}={};products.p${product.id}.qtd=${_stkMin};products.p${product.id}.price=${product.price}`
%>

<div class="col <%=_buyCol%> col-md-4 col-lg-3 px-1 py-1">
	<div class="card shadow <%=_buyH%>">
		<a href="<%= '/product/' + product.id %>" class="text-dark text-decoration-none <%=_buyH%>">
			<% if (product.image) { %>
				<img src="<%= product.image %>" class="card-img-top">
			<% } else { %>
				<div class="ratio ratio-16x9 bg-light">
					<div class="d-flex align-items-center justify-content-center text-secondary">
						<i class="fas fa-5x fa-image"></i>
					</div>
				</div>
			<% } %>
					
			<div class="card-body">
				<h5 class="card-title"><%= product.name %></h5>
				<div class="card-text">
					<div>
						<i class="fas fa-xs fa-star w-auto text-warning"></i>
						<i class="fas fa-xs fa-star w-auto text-warning"></i>
						<i class="fas fa-xs fa-star w-auto text-warning"></i>
						<i class="fas fa-xs fa-star-half-alt w-auto text-warning"></i>
						<i class="far fa-xs fa-star w-auto text-warning"></i>
						<small><small class="fs-8">4.0</small></small>
					</div>
					<div class="mt-2">
						<% if (product.oldPriceStr) { %>
							<s class="d-block fs-6 text-secondary">
								<small>R$ <%= product.oldPriceStr %></small>
							</s>
						<% } %>
						<div><b class="fs-5">R$ <%= product.priceStr %></b></div>
						<small>
							<% if (product.stock) { %><%=_stkQtd%>
							<% } else { %>
								<span class="text-danger">(esgotado)</span>
							<% } %>
						</small>
					</div>
				</div>
			</div>
		</a>

		<% if (env === 'buy') { %>

			<div class="card-footer">
				Quantidade:
				<div class="d-flex align-items-baseline">
					<button type="button" class="btn btn-sm <%=_unDis%>" ng-click="dec('p<%= product.id %>')">
						<i class="fas fa-minus"></i>
					</button>
					<input type="number" name="quantity" <%=_unDis%> class="form-control form-control-sm text-center mx-1"
						ng-model="products.p<%= product.id %>.qtd" ng-init="<%=_pInit%>" min="<%=_stkMin%>"
						<%-_stkMax%> value="<%=_stkMin%>" step="1" required>
					<button type="button" class="btn btn-sm <%=_unDis%>" ng-click="inc('p<%= product.id %>', <%= product.stock %>)">
						<i class="fas fa-plus"></i>
					</button>
				</div>
				
				<b class="mt-2 fs-5 d-block text-center" ng-bind="<%=_calcPrc%>"></b>
			</div>
			
		<% } else if (env === 'edit') { %>

			<ul class="list-group list-group-flush">
				<a href="/products/edit/<%= product.id %>" class="list-group-item list-group-item-action list-group-item-warning">
					<i class="fas fa-pencil-alt"></i> Editar
				</a>
				<button data-product-id="<%= product.id %>" class="list-group-item list-group-item-action list-group-item-danger remove">
					<i class="fas fa-times"></i> Excluir
				</button>
			</ul>

		<% } %>
	</div>
</div>