<%
if ('env' in locals) { env = env || 'show' } else { env = 'show' }
const _redir = locals.redir ? '?r=' + redir : ''
%>

<% if (env === 'buy') { %>
<label class="user">
	<input type="radio" class="hidden userSelect" name="user" value="<%= user._id %>" <%=i===0?'checked':''%>>
<% } else { %>
<div class="user">
<% } %>
	<div class="card">
		<div class="body">
			<h4><i class="fas fa-user"></i>
				<%= user.name %>
			</h4>
			<hr>
			<div><i class="fas fa-map-marker-alt"></i> <b>Endereço:</b>
				<%= user.address %>
			</div>
			<div><i class="fas fa-phone-alt"></i> <b>Telefone:</b> <a href="tel:<%= user.phone %>">
					<%= user.phone || '-----' %>
				</a></div>
			<div><i class="fab fa-whatsapp"></i> <b>WhatsApp:</b> <a href="https://api.whatsapp.com/send?phone=<%= user.whatsapp %>">
					<%= user.whatsapp || '-----' %>
				</a></div>
			<div><i class="fas fa-at"></i> <b>E-mail:</b> <a href="mailto:<%= user.email %>">
					<%= user.email || '-----' %>
				</a></div>

			<% if (env === 'edit' || env === 'buy') { %>
				<div class="edit">
					<div class="btn-group">
						<a href="/users/edit/<%= user._id %><%=_redir%>">
							<i class="fas fa-pencil-alt"></i> Editar
						</a>
						<% if (env !== 'buy') { %>
							<button class="remove" data-client-id="<%= user._id %>">
								<i class="fas fa-trash-alt"></i> Remover
							</button>
						<% } %>
					</div>
				</div>
			<% } %>
		</div>
	</div>
<%- env === 'buy' ? '</label>' : '</div>' %>