<%
if (locals.product) products = [product]
const _redir = query.r ? `?r=${encodeURIComponent(query.r)}` : ''
const _disBuy = users.length === 0 ? 'disabled' : ''
const _usRow = users.length !== 0 ? 'row' : ''
const _usAddRedir = encodeURIComponent(url)
%>

<div class="container my-4" ng-controller="buyCtrl">
	<h1 class="mb-4"><i class="fas fa-dollar-sign"></i> Comprar</h1>

	<form action="/buy<%= _redir %>" method="POST" name="buy">
		<div class="row">
			<% products.forEach((product, i) => { %>
				<%- include('../partials/_product.ejs', {product, i, env: 'buy'}) %>
			<% }) %>

			<div class="<%=_usRow%> col-12">
				<h3>Comprar como:
					<a href="/users" class="btn btn-light btn-sm">
						<i class="fas fa-users"></i> Gerenciar usuários
					</a>
				</h3>

				<% users.forEach((user, i) => { %>
					<%- include('../partials/_user.ejs', {user, i, env: 'buy'}) %>
				<% }) %>
				<% if (users.length === 0) { %>
					<div class="col-12 col-md-6 mt-4">
						<div class="card shadow-sm h-100 bg-light">
							<a href="/users/add?r=<%=_usAddRedir%>" class="btn card-body d-flex flex-column align-items-center justify-content-center">
								<i class="fas fa-plus fa-5x"></i>
								<b class="mt-3 fs-5">Adicionar usuário</b>
							</a>
						</div>
					</div>
				<% } %>

				<label class="form-group d-block mt-3 mb-5">
					<div>Observações:</div>
					<textarea class="form-control" name="other" placeholder="Mais alguma informação?"><%= locals.other %></textarea>
				</label>
			</div>
		</div>

		<div class="text-center mt-3 fixed-bottom checkOut">
			<button class="btn btn-lg btn-success shadow w-100 rounded-0" type="submit" <%=_disBuy%>>
				<i class="fas fa-dollar-sign"></i> Finalizar compra <b ng-bind="sum()"></b>
			</button>
		</div>
	</form>
</div>

<script src="/js/buy.js"></script>