<% const LEVEL_COLORS = {
	crit: 'danger',
	error: 'danger',
	warn: 'warning',
	fail: 'danger',
	succ: 'success',
	info: 'info',
	http: 'primary',
	debug: 'dark'
} %>

<div class="container my-4">
	<h1 class="mb-4"><i class="fas fa-list"></i> Logs</h1>
	
	<% for (log of logs) { %>
		<div class="row">
			<div class="col-auto">
				<div class="justify-content-center badge rounded-pill bg-<%= LEVEL_COLORS[log.level] || 'light' %> text-uppercase" style="width:60px;">
					<%= log.level %>
				</div>
			</div>

			<div class="col-auto text-dark">
				<%= log.timestamp %>
			</div>

			<pre class="col mb-0 text-<%= LEVEL_COLORS[log.level] || 'dark' %>"><% if (log.mod) { %><b><%= log.mod %>:</b> <% } %><%= log.message %></pre>
		</div>
	<% } %>
</div>