<div class="container my-4">
	<h1><%= product.name %></h1>
	<p><%= product.description %></p>
	<p>R$<%= String(product.price).replace('.', ',') %></p>

	<% if (product.stock) { %>
	<p><% if (product.stock >= 0) { %><%= product.stock %> em estoque<% } %></p>
	<% } else { %>
	<p class="text-danger">Esgotado</p>
	<% } %>
	
	<% if (product.stock) { %>
	<div><a href="/buy/<%= product.id %>" class="btn btn-warning">Comprar</a></div>
	<% } %>

	<% if (product.image) { %>
	<img src="<%= product.image %>" class="mt-3 w-100">
	<% } %>
</div>