<div class="container my-4">
	<h1><%= product[0].name %></h1>
	<p><%= product[0].description %></p>
	<p>R$<%= product[0].price.replace('.', ',') %></p>

	<% if (product[0].stock) { %>
	<p><%= product[0].stock %> em estoque</p>
	<% } else { %>
	<p class="text-danger">Esgotado</p>
	<% } %>
	
	<% if (product[0].stock) { %>
	<div><a href="/buy/<%= product[0].id %>" class="btn btn-warning">Comprar</a></div>
	<% } %>

	<% if (product[0].image) { %>
	<img src="<%= product[0].image %>" class="mt-3 w-100">
	<% } %>
</div>