<%
const _redir = query.r ? `?r=${encodeURIComponent(query.r)}` : ''
const action = (locals.user ? `/users/edit/${user._id}` : '/users/add') + _redir
const { name, address, phone, whatsapp, email } = locals.user || locals.userData?.[0] || {}
%>

<div class="container my-4">
	<% if (!locals.user) { %>
		<h1 class="mb-4"><i class="fas fa-plus"></i> Adicionar usuário</h1>
	<% } else { %>
		<h1 class="mb-4"><i class="fas fa-pencil-alt"></i> Editar usuário</h1>
	<% } %>

	<form action="<%= action %>" method="POST">
		<label class="form-group d-block">
			<div><i class="fas fa-file-signature"></i> Nome completo <span class="text-danger">*</span></div>
			<input type="text" class="form-control form-control-lg" name="name" value="<%= name %>" autocomplete="off" autofocus required>
		</label>

		<label class="form-group d-block">
			<div class="mt-2"><i class="fas fa-house-user"></i> Endereço <span class="text-danger">*</span></div>
			<input type="text" class="form-control" name="address" value="<%= address %>" autocomplete="off" required>
		</label>

		<label class="form-group d-block">
			<div class="mt-2"><i class="fas fa-phone-alt"></i> Telefone</div>
			<input type="tel" class="form-control" name="phone" value="<%= phone %>" autocomplete="off">
		</label>

		<label class="form-group d-block">
			<div class="mt-2"><i class="fab fa-whatsapp"></i> WhatsApp</div>
			<input type="tel" class="form-control" name="whatsapp" value="<%= whatsapp %>" autocomplete="off">
		</label>

		<label class="form-group d-block">
			<div class="mt-2"><i class="fas fa-at"></i> E-mail</div>
			<input type="email" class="form-control" name="email" value="<%= email %>" autocomplete="off">
		</label>

		<div class="text-center mt-3">
			<button class="btn btn-lg btn-success" type="submit">
				<i class="fas fa-save"></i> Salvar usuário
			</button>
		</div>
	</form>
</div>