<%
const _redir = query.r ? `?r=${encodeURIComponent(query.r)}` : ''
const action = (locals.product ? `/products/edit/${product.id}` : '/products/add') + _redir
const { id, name, description, price, oldprice, badge, image, stock, hidden } = locals.product || locals.userData?.[0] || {}
%>

<div class="container my-4" ng-controller="productsEditCtrl">
	<% if (!locals.product) { %>
		<h1 class="mb-4"><i class="fas fa-plus"></i> Adicionar produto</h1>
	<% } else { %>
		<h1 class="mb-4"><i class="fas fa-pencil-alt"></i> Editar produto</h1>
	<% } %>

	<form action="<%= action %>" method="POST">
		<label class="form-group d-block">
			<div><i class="fas fa-file-signature"></i> Nome <span class="text-danger">*</span></div>
			<input type="text" class="form-control form-control-lg" name="name" value="<%= name %>" autocomplete="off" autofocus required>
		</label>

		<label class="form-group d-block">
			<div class="mt-2"><i class="fas fa-align-left"></i> Descrição</div>
			<textarea class="form-control" rows="4" name="description" autocomplete="off"><%= description %></textarea>
		</label>

		<label class="form-group d-block">
			<div class="mt-2"><i class="fas fa-dollar-sign"></i> Preço <span class="text-danger">*</span></div>
			<div class="input-group">
				<div class="input-group-text">R$</div>
				<input type="number" step=".01" class="form-control form-control-lg" name="price" value="<%= price %>" autocomplete="off" required>
			</div>
		</label>

		<label class="form-group d-block">
			<div class="mt-2"><i class="fas fa-dollar-sign"></i> Preço antigo</div>
			<div class="input-group">
				<div class="input-group-text">R$</div>
				<input type="number" step=".01" class="form-control form-control-lg" name="oldprice" value="<%= oldprice %>" autocomplete="off">
			</div>
		</label>

		<label class="form-group d-block">
			<div class="mt-2"><i class="fas fa-tag"></i> Selo</div>
			<input type="text" class="form-control" name="badge" value="<%= badge %>" autocomplete="off">
		</label>

		<label class="form-group d-block">
			<div class="mt-2"><i class="fas fa-image"></i> URL da imagem</div>
			<input type="url" class="form-control" name="image" value="<%= image %>" autocomplete="off">
		</label>

		<div>
			<div class="mt-2"><i class="fas fa-photo-video"></i> Imagens/vídeos</div>
			<div class="row">
				<div class="col-4 col-md-2 col-lg-1" ng-repeat="m in media">
					<div ng-switch="m.type">
						<div class="card" ng-switch-when="image">
							<input type="hidden" name="media[{{::$index}}][type]" value="image">
							<input type="hidden" name="media[{{::$index}}][url]" value="{{::m.url}}">
							<img src="{{::m.url}}" class="card-img-top">
							<div class="card-footer">
								<ul class="list-group list-group-flush">
									<button type="button" class="list-group-item list-group-item-action list-group-item-danger" ng-click="::remove(m, media)">
										<i class="fas fa-times"></i> Remover
									</button>
								</ul>
							</div>
						</div>

						<div ng-switch-when="yt-video">

						</div>
					</div>
				</div>
			</div>
			<button type="button" class="btn btn-light shadow-sm border h-100" ng-click="selectImageModal()"><i class="fas fa-image"></i> Adicionar imagem</button>
			<button type="button" class="btn btn-light shadow-sm border h-100" ng-click="selectImageURLModal()"><i class="fas fa-image"></i> Adicionar imagem (URL)</button>
			<button type="button" class="btn btn-light shadow-sm border h-100" ng-click="uploadModal()"><i class="fas fa-upload"></i> Enviar imagem</button>
			<button type="button" class="btn btn-light shadow-sm border h-100" ng-click="selectYouTubeModal()"><i class="fab fa-youtube"></i> Adicionar vídeo do YouTube</button>
		</div>

		<label class="form-group d-block">
			<div class="mt-2"><i class="fas fa-archive"></i> Estoque <span class="text-danger">*</span></div>
			<input type="number" class="form-control" name="stock" value="<%= stock %>" autocomplete="off" required>
		</label>
		
		<label class="d-block mt-2">
			<i class="fas fa-eye-slash"></i> Oculto
			<input type="checkbox" class="form-check-input" name="hidden" <%=hidden?'checked':''%>>
		</label>

		<div class="text-center mt-3">
			<button class="btn btn-lg btn-success" type="submit">
				<i class="fas fa-save"></i> Salvar produto
			</button>
		</div>
	</form>
</div>

<script>
	const selectImageModal = `<%- include('../../views/partials/_selectImage.ejs').replace(/`/g, '\\`') %>`
	const uploadImageModal = `<%- include('../../views/partials/_upload.ejs').replace(/`/g, '\\`') %>`
	const selectYouTubeModal = `<%- include('../../views/partials/_selectYouTube.ejs').replace(/`/g, '\\`') %>`
</script>
<script src="/js/admin/productsEdit.js"></script>
<script src="/js/admin/selectImage.js"></script>
<script src="/js/admin/upload.js"></script>
<script src="/js/admin/selectYouTube.js"></script>