<div class="container my-4">
	<h1 class="mb-2"><i class="fas fa-user-shield"></i> Administradores</h1>
	<div class="users row">
		<% admins.forEach(user => { %>
			<div class="col-12 col-md-6 mt-4 user">
				<div class="card shadow-sm h-100">
					<div class="card-body">
						<h4><i class="fas fa-user"></i> <%= user.name %></h4><hr>
						<div><i class="fas fa-at"></i> <b>E-mail:</b> <a href="mailto:<%= user.email %>"><%= user.email %></a></div>
					</div>

					<ul class="list-group list-group-flush">
						<a href="/admins/edit/<%= user.id %>" class="list-group-item list-group-item-action list-group-item-warning">
							<i class="fas fa-pencil-alt"></i> Editar
						</a>
						<button class="list-group-item list-group-item-action list-group-item-danger remove" data-admin-id="<%= user.id %>">
							<i class="fas fa-times"></i> Remover
						</button>
					</ul>
				</div>
			</div>
		<% }) %>
		<div class="col-12 col-md-6 mt-4">
			<div class="card shadow-sm h-100 bg-light">
				<a href="/admins/add" class="btn card-body d-flex flex-column align-items-center justify-content-center">
					<i class="fas fa-plus fa-5x"></i>
					<b class="mt-3 fs-5">Adicionar administrador</b>
				</a>
			</div>
		</div>

		<a href="/admins/add" class="btn btn-primary btn-lg btn-floating px-2 px-md-3 shadow">
			<i class="fas fa-plus me-md-2"></i>
			<div class="d-none d-md-block">Adicionar</div>
		</a>
	</div>
</div>

<script>
	$('.remove').click(function () {
		Swal.fire({
			title: 'Remover administrador',
			text: 'Tem certeza que deseja remover este administrador?',
			showDenyButton: true,
			showCancelButton: false,
			confirmButtonText: 'Sim',
			denyButtonText: 'Não'
		}).then(r => {
			if (!r.isConfirmed) return
			$this = $(this)
			adminId = $this.data('adminId')
			location.href = '/admins/remove/' + adminId
		})
	})
</script>