<%
const _redir = query.r ? `?r=${encodeURIComponent(query.r)}` : ''
const action = (locals.product ? `/products/edit/${product.id}` : '/products/add') + _redir
const { id, name, description, price, oldprice, badge, image, stock } = locals.product || locals.userData?.[0] || {}
%>

<div class="container my-4" ng-controller="productsEditCtrl">
	<% if (!locals.product) { %>
		<h1 class="mb-4"><i class="fas fa-plus"></i> Adicionar produto</h1>
	<% } else { %>
		<h1 class="mb-4"><i class="fas fa-pencil-alt"></i> Editar produto</h1>
	<% } %>

	<form action="<%= action %>" method="POST">
		<label class="form-group d-block">
			<div>Nome <span class="text-danger">*</span></div>
			<input type="text" class="form-control form-control-lg" name="name" value="<%= name %>" autocomplete="off" autofocus required>
		</label>

		<label class="form-group d-block">
			<div class="mt-2">Descrição</div>
			<textarea class="form-control" rows="4" name="description" autocomplete="off"><%= description %></textarea>
		</label>

		<label class="form-group d-block">
			<div class="mt-2">Preço <span class="text-danger">*</span></div>
			<div class="input-group">
				<div class="input-group-text">R$</div>
				<input type="number" step=".01" class="form-control form-control-lg" name="price" value="<%= price %>" autocomplete="off" required>
			</div>
		</label>

		<label class="form-group d-block">
			<div class="mt-2">Preço antigo</div>
			<div class="input-group">
				<div class="input-group-text">R$</div>
				<input type="number" step=".01" class="form-control form-control-lg" name="oldprice" value="<%= oldprice %>" autocomplete="off">
			</div>
		</label>

		<label class="form-group d-block">
			<div class="mt-2">Selo</div> <!--colocar ícones nos labels e talvez aumentar-->
			<input type="text" class="form-control" name="badge" value="<%= badge %>" autocomplete="off">
		</label>

		<label class="form-group d-block">
			<div class="mt-2">URL da imagem</div> <!--colocar ícones nos labels e talvez aumentar-->
			<input type="url" class="form-control" name="image" value="<%= image %>" autocomplete="off">
		</label>

		<div>
			<div class="mt-2">Imagens/vídeos</div>
			<button type="button" class="btn btn-light shadow-sm border h-100" ng-click="loadController()"><i class="fas fa-plus"></i> Adicionar</button>
		</div>

		<label class="form-group d-block">
			<div class="mt-2">Estoque <span class="text-danger">*</span></div>
			<input type="number" class="form-control" name="stock" value="<%= stock %>" autocomplete="off" required>
		</label>

		<div class="text-center mt-3">
			<button class="btn btn-lg btn-success" type="submit">
				<i class="fas fa-save"></i> Salvar produto
			</button>
		</div>
	</form>
</div>

<script>
	///////////////////// TEST /////////////////////
	angular.module('store', []).controller('productsEditCtrl', ['$scope', '$compile', ($scope, $compile)=>{
		$scope.test = 'Hello World'
		$scope.loadController = () => {
			html = $compile(`<%- include('../../partials/_upload.ejs').replace(/`/g, '\\`') %>`)($scope),
			Swal.fire({
				width: '100%',
				padding: '20px 0',
				showCloseButton: true,
				showConfirmButton: false,
				willOpen: popup => {
					angular.element(popup.querySelector('.swal2-content')).append(html)
				}
			})
		}
	}])
</script>
<script src="/js/upload.js"></script>