<% 

let name, description, price, image, stock
if (data.length) {
	name = data[0].name
	description = data[0].description
	price = data[0].price
	image = data[0].image
	stock = data[0].stock
}

%>

<div class="container my-4">
	<h1 class="mb-4">Editar usuário</h1>

	<form action="/admin/products/edit" method="POST">
		<input type="hidden" name="id" value="<%= product.id %>">

		<label class="form-group d-block">
			<div>Novo nome</div>
			<input type="text" class="form-control" name="name" placeholder="<%= product.name %>"
				value="<%= name || product.name %>">
		</label>

		<label class="form-group d-block">
			<div>Nova descrição</div>
			<textarea class="form-control" name="description"
				placeholder="<%= product.description %>"><%= description || product.description %></textarea>
		</label>

		<label class="form-group d-block">
			<div>Novo preço</div>
			<div class="input-group">
				<div class="input-group-prepend">
					<div class="input-group-text">R$</div>
				</div>
				<input type="number" step=".01" class="form-control" name="price" placeholder="<%= product.price %>"
					value="<%= price || product.price %>">
			</div>
		</label>

		<label class="form-group d-block">
			<div>Nova imagem</div>
			<input type="url" class="form-control" name="image" placeholder="<%= product.image %>"
				value="<%= image || product.image %>">
		</label>

		<label class="form-group d-block">
			<div>Em estoque</div>
			<input type="number" class="form-control" name="stock" placeholder="<%= product.stock %>"
				value="<%= stock || product.stock %>">
		</label>

		<button class="btn btn-success" type="submit">Editar produto</button>
	</form>
</div>