<%

requests = requests.reduce(function (a, b) {
	a[b.clientId.clientId] = a[b.clientId.clientId] || []
	a[b.clientId.clientId].push(b)
	return a
}, Object.create(null))

%>

<div class="container my-4">
	<h1>Pedidos</h1>

	<% 
	for (request in requests) { 
		const client = requests[request][0].clientId
	%>
	
	<div class="card mt-4 client">
		<div class="card-body">
			<h4><%= client.name %></h4>
			<div><b>Endereço:</b> <%= client.address %></div>
			<div><b>Telefone:</b> <a href><%= client.phone %></a></div>
			<!-- >> verificar se foi inserido um telefone -->
			<div><b>E-mail:</b> <a href="mailto:<%= client.email %>"><%= client.email %></a></div>

			<%
			let sum = 0
			requests[request].reverse().forEach(r => sum += parseFloat(r.productId.price) * r.quantity)
			sum = sum.toLocaleString(undefined , {
				minimumFractionDigits: 2
			})
			%>

			<div><b>Total:</b> R$ <%= sum %></div>

			<div class="requests">

				<% requests[request].reverse().forEach(request => { %>

				<div class="card mt-3 request">
					<div class="row m-0">
						<div class="col col-12 col-md-2 p-2 rounded">
							<img src="<%= request.productId.image %>" class="rounded w-100">
						</div>
						<div class="col col-12 col-md-7 col-lg-8 py-3">
							<h5><%= request.quantity %> × <%= request.productId.name %></h5>

							<h6 class="text-muted"><%= request.quantity %> × R$ <%= String(request.productId.price).replace('.', ',') %> = <b>R$
									<%= (request.quantity * request.productId.price).toLocaleString(undefined, {minimumFractionDigits: 2}) %></b></h6>

							<% if (request.other) { %><div><b>Mais informações:</b>
								<div><%- request.other.replace(/\n/g, '<br>') %></div>
							</div><% } %>

							<div><b>Data/hora:</b> <%= moment(request.createdAt).format('DD/MM/YYYY - LT') %></div>
						</div>
						<div class="col col-12 col-md-3 col-lg-2 p-3">
							<% if (!request.confirmed) { %>
							<div class="confirmation-buttons">
								<button class="btn btn-sm btn-success act w-100" data-action="confirm"
									data-request-id="<%= request.id %>">Confirmar</button>
								<button class="btn btn-sm btn-danger act w-100" data-action="reject"
									data-request-id="<%= request.id %>">Rejeitar</button>
							</div>
							<% } %>

							<button class="btn btn-sm btn-warning act w-100" data-action="done"
								data-request-id="<%= request.id %>">Pronto</button>
						</div>
					</div>
				</div>
				<% }) %>
			</div>
		</div>
	</div>
	<% } %>

</div>

<!--<pre>
	<%= JSON.stringify(requests, null, '\t') %>
</pre>-->

<script>
	$('.act').click(function () {
		const $this = $(this)
		const id = $this.data('request-id')
		const confirm = $this.data('action')

		$.ajax({
			method: 'POST',
			url: '/admin/requests/confirm',
			data: { id, confirm },
			beforeSend: () => $this.parent().find('.act').prop('disabled', true),
			success: res => {
				if (res.success) {
					if (confirm == 'reject' || confirm == 'done') {
						$this.closest('.request').removeClass('request').slideUp('fast', function () { $(this).remove() })
					} else if (confirm == 'confirm') {
						$this.closest('.confirmation-buttons').slideUp('fast', function () { $(this).remove() })
					}

					if (!$this.closest('.requests').find('.request').length) {
						$this.closest('.client').slideUp('fast', function () { $(this).remove() })
					}
				}
				$this.parent().find('.act').prop('disabled', false)
			},
			err: () => {/* >> */ }
		})
	})
</script>