<div class="container my-4">
	<h1>Pedidos</h1>

	<% requests.forEach(request => { %>
	<div class="card">
		<div class="card-body">
			<h4><%= request.name %></h4>
			<div>Endereço: <%= request.address %></div>
			<div>Telefone: <%= request.phone %></div>
			<div>E-mail: <%= request.email %></div>
			<div>Mais informações: <%= request.other %></div>
			<div>Data: <%= request.createdAt %></div>
			<div>Produto: <%= request.produto.name %></div>
			<div>Preço: <%= request.produto.price %></div>
			<button class="btn btn-success act" data-action="confirm" data-request-id="<%= request.id %>">Confirmar</button>
			<button class="btn btn-success act" data-action="reject" data-request-id="<%= request.id %>">Rejeitar</button>
		</div>
	</div>
	<% }) %>

</div>

<!-- <pre>
	<%= JSON.stringify(requests, null, '\t') %>
</pre> -->

<script>
	$('.act').click(function () {
		const $this = $(this)
		const id = $this.data('request-id')
		const confirm = $this.data('action') == 'confirm'

		$.ajax({
			method: 'POST',
			url: '/admin/requests/confirm',
			data: { id, confirm },
			beforeSend: () => $this.parent().find('.act').prop('disabled', true),
			success: res => {
				if (res.success) $this.closest('.card').remove()
				$this.parent().find('.act').prop('disabled', false)
			}
		})
	})
</script>