<% 

let name, email
if (data.length) {
	name = data[0].name
	email = data[0].email
}

%>

<div class="container my-4">
	<h1 class="mb-4">Editar usuário</h1>

	<form action="/admin/update" method="POST">
		<input type="hidden" name="id" value="<%= user.id %>">

		<label class="form-group d-block">
			<div>Novo nome</div>
			<input type="text" class="form-control" name="name" placeholder="<%= user.name %>" value="<%= name %>">
		</label>

		<label class="form-group d-block">
			<div>Novo e-mail</div>
			<input type="email" class="form-control" name="email" placeholder="<%= user.email %>" value="<%= email %>">
		</label>

		<label class="form-group d-block">
			<div>Nova senha</div>
			<input type="password" class="form-control" name="password">
		</label>

		<label class="form-group d-block">
			<div>Confirmar senha</div>
			<input type="password" class="form-control" name="confirmpassword">
		</label>

		<button class="btn btn-success" type="submit">Editar usuário</button>
	</form>
</div>